body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    text-align: center;
    border: none;
    border-radius: 20px;
    user-select:none;
    outline:0;
}

#first {
    margin-top:40vh;
    display:flex;
    justify-content: center;
}

#options {
    margin:0 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline:0;
}

#second {
    display:flex;
    justify-content: center;
}

#output {
    border-width: 0;
}